
<p>USER:{{user.name}}{{user.lastName}}
</p>
<p>USUARIO EMAIL:{{user.email}}</p>

<h2> 
    CART
</h2>

<p>
    {{#each product}}
        <div class="producto">
            <h2>ID DEL PRODUCTO: {{../productId}}</h2>
            <span>CANTIDAD: {{../quantity}}</span>
        </div>
    {{/each}}
</p>
<button id="verTicket">TICKET</button>



<script src="/js/cartView.js"></script>
