
<p>USER:{{user.name}}{{user.lastName}}
</p>
<p>USUARIO EMAIL:{{user.email}}</p>

<h2> 
    CART
</h2>


{{#if product}}
{{#each product}}
    <h2>ID DEL PRODUCTO: {{this.productId}}</h2>
    <p>CANTIDAD: {{this.quantity}}</p>
{{/each}}
{{else}}
    <h2>NO HAY PRODUCTOS EN TU CARRITO</h2>    
{{/if}}
    

<button id="verTicket">TICKET</button>



<script src="/js/cartView.js"></script>
