{{#if user}}
   {{#each user}}
    <div class="user">
      <h2>{{this.name}}</h2>
      <p>{{this.email}}</p>
      <p>{{this.userStatus}}</p>
      <button class="btnModificarRol" id=`{{this.email}}`>MODIFICAR ROL</button>
      <button class="btnEliminarUser" id=`{{this.email}}`>ELIMINAR USER</button>
    </div>
  {{/each}}
  {{else}}
    <h2>NO HAY USERS</h2>
{{/if}}